## **Insurance Data EDA and stats**

In [1]:
import os
import sys

system_path = os.path.abspath("..")
if system_path not in sys.path:
    sys.path.append(system_path)

%load_ext autoreload
%autoreload 2

In [2]:
from src.eda_analysis import InsuranceEDA

In [3]:
eda = InsuranceEDA()

In [4]:
insurance_data = eda.load_data('../data/raw/insurance_data.parquet')
insurance_data

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000093,31520,389,2015-04-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.235175,0.0
1000094,31520,389,2015-06-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.235175,0.0
1000095,31520,389,2015-08-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.235175,0.0
1000096,31519,389,2014-07-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.315000,0.0
1000097,31519,389,2015-02-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.315000,0.0

In [11]:
summery_data =eda.summarize_data()

--------------------------------Dataset Information--------------------------------
Number of rows: 1000098
Number of columns: 52

--------------------------------Data Types and Non-Null Counts--------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  datetime64[ns]
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(11), int64(4), object(35)
memory usage: 390.1+ MB
None

--------------------------------Descriptive Statistics for Numerical Features--------------------------------
       UnderwrittenCoverID   PolicyID  PostalCode      mmcode  \
count           1000098.00 1000098.00  1000098.00   999546.00
mean             104817.55    7956.68     3020.60 54877704.02
std               63293.71    5290.04     2649.85 13603805.34
min                   1.00      14.00        1.00  4041200.00
25%               55143.00    4500.00      827.00 60056925.00
50%               94083.00    7071.00     2000.00 60058415.00
75%              139190.00   11077.00     4180.00 60058418.00
max              301175.00   23246.00     9870.00 65065350.00

       RegistrationYear  Cylinders  cubiccapacity  kilowatts  NumberOfDoors  \
count        1000098.00  999546.00      999546.00  999546.00      999546.00
mean            2010.23       4.05        2466.74      97.21           4.02
std                3.26       0.29         442.80      19.39           0.47
min             1987.00       0.00           0.00       0.00           0.00
25%             2008.00       4.00        2237.00      75.00           4.00
50%             2011.00       4.00        2694.00     111.00           4.00
75%             2013.00       4.00        2694.00     111.00           4.00
max             2015.00      10.00       12880.00     309.00           6.00

       CustomValueEstimate  NumberOfVehiclesInFleet  SumInsured  \
count            220456.00                     0.00  1000098.00
mean             225531.13                      NaN   604172.73
std              564515.75                      NaN  1508331.84
min               20000.00                      NaN        0.01
25%              135000.00                      NaN     5000.00
50%              220000.00                      NaN     7500.00
75%              280000.00                      NaN   250000.00
max            26550000.00                      NaN 12636200.00

       CalculatedPremiumPerTerm  TotalPremium  TotalClaims
count                1000098.00    1000098.00   1000098.00
mean                     117.88         61.91        64.86
std                      399.70        230.28      2384.07
min                        0.00       -782.58    -12002.41
25%                        3.22          0.00         0.00
50%                        8.44          2.18         0.00
75%                       90.00         21.93         0.00
max                    74422.17      65282.60    393092.11

--------------------------------Additional Variability Metrics--------------------------------

--------------------------------Categorical Columns Analysis--------------------------------

Unique values in Citizenship: 4
Value counts for Citizenship:
Citizenship
      895210
ZA    103721
ZW       936
AF       231
Name: count, dtype: int64

Unique values in LegalType: 6
Value counts for LegalType:
LegalType
Individual           911929
Private company       83891
Close Corporation      2459
Public company         1295
Partnership             331
Name: count, dtype: int64

Unique values in Title: 5
Value counts for Title:
Title
Mr      933555
Mrs      45850
Ms       13269
Miss      6614
Dr         810
Name: count, dtype: int64

Unique values in Language: 1
Value counts for Language:
Language
English    1000098
Name: count, dtype: int64

Unique values in Bank: 11
Value counts for Bank:
Bank
First National Bank    260811
ABSA Bank              204954
Standard Bank          181715
Nedbank                132003
Capitec Bank            58155
Name: count, dtype: int64

Unique values in AccountType: 3
Value counts for AccountType:
AccountType
Current account         597938
Savings account         358207
Transmission account      3721
Name: count, dtype: int64

Unique values in MaritalStatus: 3
Value counts for MaritalStatus:
MaritalStatus
Not specified    986208
Single             4254
Married            1377
Name: count, dtype: int64

Unique values in Gender: 3
Value counts for Gender:
Gender
Not specified    940990
Male              42817
Female             6755
Name: count, dtype: int64

Unique values in Country: 1
Value counts for Country:
Country
South Africa    1000098
Name: count, dtype: int64

Unique values in Province: 9
Value counts for Province:
Province
Gauteng          393865
Western Cape     170796
KwaZulu-Natal    169781
North West       143287
Mpumalanga        52718
Name: count, dtype: int64

Unique values in MainCrestaZone: 16
Value counts for MainCrestaZone:
MainCrestaZone
Transvaal (all except Pretoria)    296187
Johannesburg                       176020
Transvaal (Pretoria)               100331
Cape Province (Cape Town)           95936
Natal                               88266
Name: count, dtype: int64

Unique values in SubCrestaZone: 45
Value counts for SubCrestaZone:
SubCrestaZone
Johannesburg       176020
Pretoria           100331
Cape Town           95936
Durban              82859
Transvaal North     75141
Name: count, dtype: int64

Unique values in ItemType: 1
Value counts for ItemType:
ItemType
Mobility - Motor    1000098
Name: count, dtype: int64

Unique values in VehicleType: 5
Value counts for VehicleType:
VehicleType
Passenger Vehicle    933598
Medium Commercial     53985
Heavy Commercial       7401
Light Commercial       3897
Bus                     665
Name: count, dtype: int64

Unique values in make: 46
Value counts for make:
make
TOYOTA           813280
MERCEDES-BENZ     41940
CMC               21624
VOLKSWAGEN        20929
C.A.M             16171
Name: count, dtype: int64

Unique values in Model: 411
Value counts for Model:
Model
QUANTUM 2.7 SESFIKILE 16s         186087
QUANTUM 2.7 SESFIKILE 15s         167523
QUANTUM 2.7 SESFIKILE 14s         137242
QUANTUM 2.5 D-4D SESFIKILE 16s     99444
HiACE SUPER 16 F/Lift              79525
Name: count, dtype: int64

Unique values in bodytype: 13
Value counts for bodytype:
bodytype
B/S    844400
P/V     55034
S/D     41868
MPV     33842
C/C      8861
Name: count, dtype: int64

Unique values in VehicleIntroDate: 174
Value counts for VehicleIntroDate:
VehicleIntroDate
4/2012     287638
10/2010    176799
11/2007    137517
11/1992     80059
8/2001      41023
Name: count, dtype: int64

Unique values in AlarmImmobiliser: 2
Value counts for AlarmImmobiliser:
AlarmImmobiliser
Yes    999861
No        237
Name: count, dtype: int64

Unique values in TrackingDevice: 2
Value counts for TrackingDevice:
TrackingDevice
No     656617
Yes    343481
Name: count, dtype: int64

Unique values in CapitalOutstanding: 659
Value counts for CapitalOutstanding:
CapitalOutstanding
0         779482
0.00       13298
125000      4130
232500      3972
329500      3923
Name: count, dtype: int64

Unique values in NewVehicle: 2
Value counts for NewVehicle:
NewVehicle
More than 6 months    845223
Less than 6 months      1580
Name: count, dtype: int64

Unique values in WrittenOff: 2
Value counts for WrittenOff:
WrittenOff
No     358165
Yes        32
Name: count, dtype: int64

Unique values in Rebuilt: 2
Value counts for Rebuilt:
Rebuilt
No     358165
Yes        32
Name: count, dtype: int64

Unique values in Converted: 2
Value counts for Converted:
Converted
No     358110
Yes        87
Name: count, dtype: int64

Unique values in CrossBorder: 1
Value counts for CrossBorder:
CrossBorder
No    698
Name: count, dtype: int64

Unique values in TermFrequency: 2
Value counts for TermFrequency:
TermFrequency
Monthly    999554
Annual        544
Name: count, dtype: int64

Unique values in ExcessSelected: 13
Value counts for ExcessSelected:
ExcessSelected
No excess                                                 791235
Mobility - Windscreen                                      97313
Mobility - Taxi with value more than R100 000 - R5 000     76424
Mobility - Taxi with value less than R100 000 - R3 000     15249
Mobility - Metered Taxis - R2000                            6999
Name: count, dtype: int64

Unique values in CoverCategory: 28
Value counts for CoverCategory:
CoverCategory
Passenger Liability          104158
Third Party                  102825
Keys and Alarms              102428
Signage and Vehicle Wraps    102416
Emergency Charges            102416
Name: count, dtype: int64

Unique values in CoverType: 22
Value counts for CoverType:
CoverType
Own Damage             104183
Passenger Liability    104158
Windscreen             103763
Third Party            102825
Keys and Alarms        102428
Name: count, dtype: int64

Unique values in CoverGroup: 14
Value counts for CoverGroup:
CoverGroup
Comprehensive - Taxi    824124
Income Protector         64813
Basic Excess Waiver      57769
Accidental Death         27321
Credit Protection        18070
Name: count, dtype: int64

Unique values in Section: 5
Value counts for Section:
Section
Motor Comprehensive                                828125
Optional Extended Covers                           152530
Credit Protection                                   18070
Third party or third party, fire and theft only       829
Standalone passenger liability                        544
Name: count, dtype: int64

Unique values in Product: 4
Value counts for Product:
Product
Mobility Commercial Cover: Monthly    915028
Mobility Metered Taxis: Monthly        79272
Bridge Taxi Finance: Monthly            5254
Standalone Passenger Liability           544
Name: count, dtype: int64

Unique values in StatutoryClass: 1
Value counts for StatutoryClass:
StatutoryClass
Commercial    1000098
Name: count, dtype: int64

Unique values in StatutoryRiskType: 1
Value counts for StatutoryRiskType:
StatutoryRiskType
IFRS Constant    1000098
Name: count, dtype: int64

--------------------------------Date Columns Analysis--------------------------------

Date range for TransactionMonth:
Start: 2013-10-01 00:00:00
End: 2015-08-01 00:00:00

In [12]:
eda.check_missing_values()

--------------------------------Missing Values Analysis--------------------------------
Total number of columns with missing values: 22

Missing values summary:

                         Missing Count  Missing Percentage
NumberOfVehiclesInFleet        1000098              100.00
CrossBorder                     999400               99.93
CustomValueEstimate             779642               77.96
Rebuilt                         641901               64.18
Converted                       641901               64.18
WrittenOff                      641901               64.18
NewVehicle                      153295               15.33
Bank                            145961               14.59
AccountType                      40232                4.02
Gender                            9536                0.95
MaritalStatus                     8259                0.83
VehicleType                        552                0.06
make                               552                0.06
mmcode                             552                0.06
Model                              552                0.06
Cylinders                          552                0.06
bodytype                           552                0.06
kilowatts                          552                0.06
NumberOfDoors                      552                0.06
VehicleIntroDate                   552                0.06
cubiccapacity                      552                0.06
CapitalOutstanding                   2                0.00

### Univariant analysis

In [ ]:
eda.analyze_univariate_distributions()